<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>IRunes</h1>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/Users/Login">Login</a>
        </li>
        <li>
            <a href="/Users/Register">Register</a>
        </li>
    </ul>
    <hr />
    {{{Content}}}
    <hr />
    <footer><strong>CopyRight &copy; Sanity Design Studios. All rights reserved.</strong></footer>
</body>
</html>