    <div class="bg-mishmash rounded col-md-2 mx-3" style="margin-bottom:25px">
        <h6 class="task-title text-white text-center my-3">@Model.Name</h6>
        <hr class="bg-white hr-2 w-75">
        <h6 class="task-title text-white text-center my-4">@Model.Type Channel</h6>
        <hr class="bg-white hr-2 w-75">
        <h6 class="task-title text-white text-center my-4">@Model.Followers Followers</h6>
        <hr class="bg-white hr-2 w-75">
        <a href="channels/followed"><h6 class="text-center text-white">Following</h6></a>
    </div>
